
/*=====
ADIOS
======*/

.md { display: none !important; }
.ma { display: none !important; }
.ae3 { display: none !important; }
.gb_X { display: none !important; }
.gb_A { display: none !important; }
.gb_Fa { display: none !important; }
.gb_Ua { display: none !important; }
.gb_c { display: none !important; }
.gb_d { display: none !important; }
.gb_Rb { display: none !important; }
.gbqfb { display: none !important; }
.aj9 { display: none !important; }
.asT-asx { display: none !important; }
.akh { display: none !important; }
.aeH { display: none !important; }
.aj4 { display: none !important; }
.akc { display: none !important; }
.aki { display: none !important; }
.aeQ { display: none !important; }
.aeS { display: none !important; }
.TC { display: none !important; }
.gb_ { display: none !important; }
.vh { display: none !important; }
.aoq { display: none !important; }
.gbw { display: none !important; }
.gb_Z { display: none !important; }
gb_we { display: none !important; }
gb_wf { display: none !important; }
.gb_Oa { display: none !important; }


/*=====
POSITION
======*/

#gbqfw {
	position: relative;
	top: 15px;
	left: 50px;

max-width: 1440px;
}

div.nH.w-asV.aiw{ 
         position: relative;
	top: -100px;
max-width: 1440px;
}

div.nH.oy8Mbf.nn.aeN {
    width: 44px !important;
    top: -400px !important;
}

body {
	position: relative;
	top: -0px;
}
 
/* .dJ{ display: none !important; } # space between seach and email

/*=====
COLOR
======*/

/* email paper colour
.adn
{background-color: #FFF8E0
 !important;}
 */

/*=====
FONTS
======*/

.ha {
        font-family: Helvetica Neue;
font-weight: 200;
        font-size: 11pt;}
 
/*=====
CSS NOTES
======

Color: http://stylebot.me/styles/6609
Sans Header: 
Font: http://stylebot.me/styles/4000

*/
