
.md { display: none !important; }
.ma { display: none !important; }
.ae3 { display: none !important; }
.gb_X { display: none !important; }
.gb_A { display: none !important; }
.gb_Fa { display: none !important; }
.gb_Ua { display: none !important; }
.gb_c { display: none !important; }
.gb_d { display: none !important; }
.gb_Rb { display: none !important; }
.gbqfb { display: none !important; }
.aj9 { display: none !important; }
.asT-asx { display: none !important; }
.akh { display: none !important; }
.aeH { display: none !important; }
.aj4 { display: none !important; }
.akc { display: none !important; }
.aki { display: none !important; }
.aeQ { display: none !important; }
.aeS { display: none !important; }
.TC { display: none !important; }
.gb_ { display: none !important; }
.vh { display: none !important; }
.aoq { display: none !important; }
.gbw { display: none !important; }
.gb_Z { display: none !important; }
.gb_Oa { display: none !important; }
.gscs_a { display: none !important; }

.ej .CoUvaf .dW { background-color: #eee8d5; } 

/* .dJ{ display: none !important; } # space between seach and email

div.gb_Wa {
  width
}

/* 
https://groups.google.com/forum/#!msg/mailplaneapp/9IvEMtrih5U/bPc5hK9RI9cJ
*/


